; Rigs of Rods configuration file
; -------------------------------

; Application
app_force_cache_purge=No
Country=us
app_force_cache_update=No
Config uses long names=Yes
NumWorkerThreads=8
Extra mod path=
Disable Online API=No
Screenshot Format=png
app_custom_scripts=
Language=en
app_recent_scripts=cityworld_legacy_material_smoke.as
Render system=
AsyncPhysics=Yes
SkipMainMenu=No

; Multiplayer
Hide own net label=Yes
mp_cyclethru_net_actors=No
Online API URL=http://api.rigsofrods.org
Multiplayer collisions=No
Auto connect=No
Auto hide chat=Yes
User Token=
Hide net labels=No
Server password=
Server name=
Server port=0
Nickname=Player

; Simulation
Replay mode=No
Realistic forward commands=No
sim_live_repair_interval=2.000000
DisableCollisions=No
Deterministic fixed physics steps per rendered frame=0
Races=Yes
Deterministic trace step limit (0 uses the format maximum)=0
Deterministic trace scenario ID=0
Replay Steps per second=1000
Record deterministic physics state trace=No
Deterministic sleeping engine cadence=Yes
DisableSelfCollisions=No
sim_quickload_dialog=Yes
sim_tuning_enabled=Yes
Replay length=200
GearboxMode=Automatic shift
Engines spawn running=Yes

; Input/Output
Discord Rich Presence=Yes
OutGauge ID=0
OutGauge Port=1337
OutGauge Mode=0
Keyboard Steering Speed Coupling=Yes
ArcadeControls=No
Force Feedback Gain=0.000000
Force Feedback Centering=0.000000
Blinker Lock Range=0.100000
Analog Input Sensitivity=1.000000
Force Feedback Stress=0.000000
OutGauge Delay=10.000000
Force Feedback Camera=0.000000
OutGauge IP=192.168.1.100
Force Feedback=No
Invert orbit camera=No
Analog Input Smoothing=1.000000
Input Grab=1

; Graphics
Use alternate vehicle materials=No
Shadow optimizations=Yes
Use OGREs Automatic Mesh LOD Generator=Yes
FOV External=60
Static camera height=5
ReflectionUpdateRate=1
Declutter overview map=Yes
Overview map icons=Yes
gfx_static_cam_fov_exp=1.000000
Particles=0
Anisotropy=4
Sky effects=Sandstorm (fastest)
Shadow technique=Parallel-split Shadow Maps
Shadows Quality=2
gfx_enable_videocams=No
Reflections=Yes
SightRange=5000
UseVideocameraWindows=No
Waves=No
Water effects=Reflection + refraction (speed optimized)
Flexbody_UseCache=No
Skidmarks=0
FOV Internal=75
External Camera Mode=Pitching
gfx_fixed_cam_tracking=No
FPS-Limiter=0
Texture Filtering=Anisotropic (best looking)
Vegetation=Full (best looking, slower)
gfx_speedo_imperial=No
Lights=All vehicles, all lights
Use RTShader System=No

; GUI
Hide dashboard in cinecam view=Yes
ui_always_show_fullsize=No
ui_legacy_truck_renderdash=rdd_classic.dashboard
ui_default_truck_dash=default_truck_digital.dashboard
ui_preset=0
ui_show_live_repair_controls=Yes
ui_default_boat_dash=default_boat.dashboard
Show vehicle buttons menu=Yes

; Audio
Disable Doppler effect on sim pause=Yes
OpenAL EFX Reverb Engine=EAXREVERB (more realistic effects, slower)
Engine-controlled environm. audio=Yes
MainMenuMusic=No
Doppler Factor=1.000000
Pan reflections=No
OpenAL default EFX preset=
AudioDevice=
Directed sounds=No
Occlusion of sounds=No
Creak Sound=No
Enable OpenAL EFX=Yes
Sound Volume=1.000000
Obstruction of sounds=No
OpenAL forced listener EFX preset=
Force obstruction inside vehicles=No

; Diagnostics
Trigger Debug=No
diag_allow_window_resize=No
diag_use_mygui_logfile=No
diag_terrn_log_roads=No
diag_profiler_rate=10
Hide nodes=No
Hide wheels=No
Hide wheel info=Yes
Hide beam stress=Yes
Hide broken beams=No
Beam Deform Debug=No
Beam Break Debug=No
Enter Preselected Truck=No
diag_spawn_rotation=
VideoCameraDebug=No
EnvMapDebug=No
Debug Truck Mass=No
RigImporter_LogNodeStats=No
RigImporter_LogAllNodes=No
Camera Debug=No
AutoActorSpawnerReport=No
Preselected Truck=
Preselected Terrain=
SimpleMaterials=No
diag_load_devel_scripts=No
diag_actor_dump=No
Warning texture=No
diag_spawn_position=
Preselected TruckConfig=
Enable Ingame Console=No
