CMakeLists.txt whitespace=cr-at-eol
source/main/audio/Sound.h whitespace=cr-at-eol
source/main/audio/SoundManager.cpp whitespace=cr-at-eol
source/main/audio/SoundManager.h whitespace=cr-at-eol
source/main/gfx/ColoredTextAreaOverlayElement.cpp whitespace=cr-at-eol
source/main/gfx/ShadowManager.cpp whitespace=cr-at-eol
source/main/gfx/ShadowManager.h whitespace=cr-at-eol
source/main/gfx/hydrax/GodRaysManager.cpp whitespace=cr-at-eol
source/main/gfx/hydrax/RttManager.cpp whitespace=cr-at-eol
source/main/gfx/particle/ExtinguishableFireAffectorFactory.h whitespace=cr-at-eol
source/main/gfx/particle/FireExtinguisherAffector.cpp whitespace=cr-at-eol
source/main/gfx/particle/OgreParticleCustomParam.h whitespace=cr-at-eol
source/main/gfx/particle/OgreShaderParticleRenderer.cpp whitespace=cr-at-eol
source/main/gfx/particle/OgreShaderParticleRenderer.h whitespace=cr-at-eol
source/main/main.cpp whitespace=cr-at-eol
source/main/physics/flex/FlexBody.cpp whitespace=cr-at-eol
source/main/resources/ContentManager.cpp whitespace=cr-at-eol
source/main/resources/ContentManager.h whitespace=cr-at-eol
source/main/resources/CacheSystem.cpp whitespace=cr-at-eol
source/main/gui/DashBoardManager.cpp whitespace=cr-at-eol
source/main/gui/RTTLayer.cpp whitespace=cr-at-eol
source/main/scripting/ScriptEngine.cpp whitespace=cr-at-eol
source/main/scripting/bindings/OgreAngelscript.cpp whitespace=cr-at-eol
source/main/terrain/TerrainGeometryManager.cpp whitespace=cr-at-eol
source/main/terrain/Terrain.cpp whitespace=cr-at-eol
source/main/utils/InputEngine.cpp whitespace=cr-at-eol
source/main/utils/PlatformUtils.cpp whitespace=cr-at-eol
source/main/utils/PlatformUtils.h whitespace=cr-at-eol
cmake/conan/recipes/ogre3d/patches/14.5.2/relocatable-install-paths.patch -whitespace
cmake/conan/recipes/ogre3d/patches/14.5.2/bounds-safe-shadow-texture-projectors.patch -whitespace
cmake/conan/recipes/ogre3d/patches/14.5.2/defer-glsl-program-validation.patch -whitespace
cmake/conan/recipes/mygui/patches/3.4.0/ogre14-api.patch -whitespace
