; Rigs of Rods configuration file
; -------------------------------

; Application
app_force_cache_purge=No
app_country=us
app_force_cache_update=Yes
app_config_long_names=No
app_num_workers=1
app_extra_mod_path=
app_disable_online_api=Yes
app_screenshot_format=png
app_custom_scripts=
app_language=en
app_recent_scripts=cityworld_legacy_material_smoke.as
app_rendersys_override=
app_async_physics=Yes
app_skip_main_menu=No

; Multiplayer
mp_hide_own_net_label=Yes
mp_cyclethru_net_actors=No
mp_api_url=http://api.rigsofrods.org
mp_pseudo_collisions=No
mp_join_on_startup=No
mp_chat_auto_hide=Yes
mp_player_token=
mp_hide_net_labels=No
mp_server_password=
mp_server_host=
mp_server_port=0
mp_player_name=Player

; Simulation
sim_replay_enabled=No
sim_realistic_commands=No
sim_live_repair_interval=2.000000
sim_no_collisions=No
sim_deterministic_fixed_steps_per_frame=0
sim_races_enabled=Yes
sim_deterministic_state_trace_step_limit=0
sim_deterministic_state_trace_scenario_id=0
sim_replay_stepping=1000
sim_deterministic_state_trace=No
sim_deterministic_sleeping_engine=Yes
sim_no_self_collisions=No
sim_quickload_dialog=Yes
sim_tuning_enabled=Yes
sim_replay_length=200
sim_gearbox_mode=Automatic shift
sim_spawn_running=Yes

; Input/Output
io_discord_rpc=Yes
io_outgauge_id=0
io_outgauge_port=1337
io_outgauge_mode=0
io_hydro_coupling=Yes
io_arcade_controls=No
io_ffb_master_gain=0.000000
io_ffb_center_gain=0.000000
io_blink_lock_range=0.100000
io_analog_sensitivity=1.000000
io_ffb_stress_gain=0.000000
io_outgauge_delay=10.000000
io_ffb_camera_gain=0.000000
io_outgauge_ip=192.168.1.100
io_ffb_enabled=No
io_invert_orbitcam=No
io_analog_smoothing=1.000000
io_input_grab_mode=1

; Graphics
gfx_alt_actor_materials=No
gfx_reduce_shadows=Yes
gfx_auto_lod=Yes
gfx_fov_external_default=60
gfx_camera_height=5
gfx_envmap_rate=1
gfx_declutter_map=Yes
gfx_surveymap_icons=Yes
gfx_static_cam_fov_exp=1.000000
gfx_particles_mode=0
gfx_anisotropy=4
gfx_sky_mode=Sandstorm (fastest)
gfx_shadow_type=No shadows (fastest)
gfx_shadow_quality=2
gfx_enable_videocams=No
gfx_envmap_enabled=Yes
gfx_sight_range=5000
gfx_window_videocams=No
gfx_water_waves=No
gfx_water_mode=Basic (fastest)
gfx_flexbody_cache=No
gfx_skidmarks_mode=0
gfx_fov_internal_default=75
gfx_extcam_mode=Pitching
gfx_fixed_cam_tracking=No
gfx_fps_limit=0
gfx_texture_filter=Anisotropic (best looking)
gfx_vegetation_mode=Full (best looking, slower)
gfx_speedo_imperial=No
gfx_flares_mode=All vehicles, all lights
gfx_enable_rtshaders=No

; GUI
ui_dashboard_cinecam=Yes
ui_always_show_fullsize=No
ui_legacy_truck_renderdash=rdd_classic.dashboard
ui_default_truck_dash=default_truck_digital.dashboard
ui_preset=0
ui_show_live_repair_controls=Yes
ui_default_boat_dash=default_boat.dashboard
ui_show_vehicle_buttons=Yes

; Audio
audio_sim_pause_disables_doppler_effect=Yes
audio_efx_reverb_engine=EAXREVERB (more realistic effects, slower)
audio_engine_controls_environmental_audio=Yes
audio_menu_music=No
audio_doppler_factor=1.000000
audio_enable_reflection_panning=No
audio_default_efx_preset=
audio_device_name=
audio_enable_directed_sounds=No
audio_enable_occlusion=No
audio_enable_creak=No
audio_enable_efx=Yes
audio_master_volume=0.000000
audio_enable_obstruction=No
audio_force_listener_efx_preset=
audio_force_obstruction_inside_vehicles=No

; Diagnostics
diag_log_beam_trigger=No
diag_allow_window_resize=No
diag_use_mygui_logfile=No
diag_terrn_log_roads=No
diag_profiler_rate=10
diag_hide_nodes=No
diag_hide_wheels=No
diag_hide_wheel_info=Yes
diag_hide_beam_stress=Yes
diag_hide_broken_beams=No
diag_log_beam_deform=No
diag_log_beam_break=No
diag_preset_veh_enter=No
diag_spawn_rotation=
diag_videocameras=No
diag_envmap=No
diag_truck_mass=No
diag_rig_log_node_stats=No
diag_rig_log_node_import=No
diag_camera=No
diag_auto_spawner_report=No
diag_preset_vehicle=
diag_preset_terrain=
diag_simple_materials=No
diag_load_devel_scripts=No
diag_actor_dump=No
diag_warning_texture=No
diag_spawn_position=
diag_preset_veh_config=
diag_log_console_echo=No
